*{
  margin:0;
  padding:0;
}
.calculator{
  width:150px;
}

.input-counter{
  border: none;
  width:150px;
  height:20px;
  text-align: right;
}

button{
  width:100%;
}

table{
  width:100%;
}

tr{
  width:150px;
  display: flex;
  justify-content:flex-end;
}

.AC{
  width:112.5px;
}

.zello{
  width:75px;
}

.small{
  width:37.5px;
}

